@CHARSET "UTF-8";
*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#bodyContent{
	background-color: rgb(243,243,243);
}
#content{
	width: 75%;
	height: 800px;
	margin: 10px auto;
	background-color: rgb(243,243,243);
	
}
#clear{
	clear: both;
}
#top{
	background-color: rgb(36, 41, 46);
	height: 60px;
    line-height: 60px;
}
#top_content{
	/* background-color: blue; */
	width: 80%;
    height: inherit;
    margin: 0 auto;
}
#top_logo{
	/* background-color: beige;  */
    height: inherit;
    width: 15%;
    float: left;
    color: white;
}
#top_logo:HOVER {
	cursor: pointer;
}
#top_logo div{
	height:60px;
	/* background:pink; */
	text-align:center;
}
#top_logo div span{
	position:relative;
	left:150px;
    font-size: 32px;
    font-weight: 800;
    opacity:0;
   /*  display: none; */
}
#top_menu{
    /* background-color: #7e908a; */
	width: 55%;
    height: inherit;
    float: left;
    margin-left: 30px;
}
#top_menu ul{
    list-style-type: none;
}
#top_menu ul li{
	float:left;
    padding: 0 15px;   
    display: block;
}
/*---------------------------*/
#top_user{
	/* background-color: green; */
	float: right;
    width: 130px;
    height:60px;
}
#user_content{
	/* background-color: blue; */
	width: 120px;
	margin: 0 auto;
}
/*未登录*/
#img_user{
	display: none;
	margin: 16px 25px;
	float:right;
	cursor: pointer;
}
/*登录后*/
#ul_user{
	display: none;
	text-align: center;
}
#top_user_img_user{
	display: block;
	float:left;
	width:30px;
	height:30px;
	margin-top: 15px;
	margin-left: 15px;
	border-radius:50%;  
}
#top_user_a_user{
	
}
.li{
	float:none;
	/* border: 1px solid #ccc;
	background: pink; */
	line-height: 30px;
	display: none;
	width: 80px;
	background: #eee;
	box-shadow: 0px 0px 7px #ccc;
	margin-left: 38px;
	color: black;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	position: relative;
	z-index: 2000;
}
.li a{
	color: black;
	font-size: 12px;
}
#ul_user_fistli{
	display:block;
	line-height: 60px;
	/* border: 1px solid #ccc;
	background: pink; */
	float:none;
}
#ul_user_lastli{
	border-bottom: 1px solid #ccc;
}
#ul_user_twoli{
	margin-top: 5px;	
}
/* .li:HOVER{
	background: rgb(11,162,253);
} */
.li a:HOVER{
	color:black;
	text-decoration: underline;
}
/*-----------------------------------*/

ul{
    list-style-type: none;
     
}
li{
	float:left;
	
}
ul li a{
	font-weight: 600;
	font-size: 14px;
	color: rgb(169, 169, 169);
	text-decoration: none;
}
ul li a:HOVER {
	color: #ddd;
}

