@CHARSET "UTF-8";
*{
	margin: 0px;
	padding: 0px;
}
#clear{
	clear: both;
}
#top{
	background-color: rgb(36, 41, 46);
	height: 60px;
    line-height: 60px;
}
#top_content{
	/* background-color: blue; */
	width: 80%;
    height: inherit;
    margin: 0 auto;
}
#top_logo{
	/* background-color: beige;  */
    height: inherit;
    width: 15%;
    float: left;
    color: white;
}
#top_logo:HOVER {
	cursor: pointer;
}
#top_logo div{

}
#top_logo div span{
    font-size: 32px;
    font-weight: 800;
    display: none;
}
#top_menu{
    /* background-color: #7e908a; */
	width: 70%;
    height: inherit;
    float: left;
}
#top_menu ul{
    list-style-type: none;
    display: none;
}
#top_menu ul li{
	float:left;
    padding: 0 15px;   
    display: block;
}
/*---------------------------*/
#top_user{
	/* background-color: green; */
	float: right;
    width: 10%;
    height:60px;
}
#user_content{
	height:60px;
}
#ul_login{
	line-height: 40px;
	width:100px;
	margin-top: 18px;
	text-align: center;
}
#ul_login li{
	float: none;
}
/*-----------------------------------*/
ul{
    list-style-type: none;
     background-color: rgb(36, 41, 46);
}
li{
	float:left;
}
a{
	font-weight: 600;
	font-size: 14px;
	color: rgb(169, 169, 169);
	text-decoration: none;
}
a:HOVER {
	color: #ddd;
}