@CHARSET "UTF-8";
#board_wrap{
	width:385px;
	margin: 0 auto;
	border-radius:7px; 
	padding-top: 7px;
	padding-bottom: 20px;
	background: rgb(241,241,241);
	position:fixed;
	top:22%;
	left:40%;
	z-index:1002;
	display: none;
}
#board-title{
	height:50px;
	background: rgb(241,241,241);
	border-bottom: 2px solid #aaa;
	line-height: 44px;
	text-align: center;
}
#board-title span{
	font-size: 18px;
	letter-spacing: 3px;
	font-weight: 800;
	color: rgb(55,56,68);
}
#board-content{
	width:340px;
	margin: 20px auto 0px;
}
#board-content div{
	width:340px;
	margin-top: 17px;
}

#board-content input{
	font-size:14px;
	width:284px;
	height:35px;
	line-height: 35px;
	padding-left: 56px;
	border: 1px solid #999;
	background-color: white;
	box-shadow: 0px -1px 2px #999;
}
/* #boardUsername{
	background: url("../images/board/user_22x22.png") no-repeat 12px 6px;
}
#boardUsername:FOCUS{
	background: url("../images/board/user_red_22.png") no-repeat 12px 6px;
}
#boardEmail{
	background: url("../images/board/email_22x22.png") no-repeat 12px 6px;
}
#boardEmail:FOCUS{
	background: url("../images/board/email_red_22.png") no-repeat 12px 6px;
} */
#boardTitle{
	background: url("/gxc/images/board/tilte_22x22.png") no-repeat 12px 6px;
}
#boardTitle:FOCUS{
	background: url("/gxc/images/board/title_red_22.png") no-repeat 12px 6px;
}
#boardMessage{
	width:310px;
	height:120px;
	border: 1px solid #ccc;
	padding: 15px;
	font-size: 15px;
	box-shadow: 0px -1px 2px #999;
}
#board-submit{
	text-align:center;
	letter-spacing: 2px;
	width: 342px;
	height:32px;
	line-height: 32px;
	font-size: 15px;
	border: 1px solid #ccc;
	color: #fff;
    background-color: #28a745;
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
	font-weight: 700;
}
