<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">
			<![CDATA[jdbc:mysql://localhost:3306/myBlog?useUnicode=true&characterEncoding=UTF-8]]>
		</property>
		<property name="connection.username">root</property>
		<property name="connection.password">123</property>
		
		<property name="format_sql">true</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="current_session_context_class">thread</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		
		<mapping resource="gxc/domain/hbm/User.hbm.xml"/>
		<mapping resource="gxc/domain/hbm/Province.hbm.xml"/>
		<mapping resource="gxc/domain/hbm/City.hbm.xml"/>
		<mapping resource="gxc/domain/hbm/Board.hbm.xml"/>
		<mapping resource="gxc/domain/hbm/Topic.hbm.xml"/>
		<mapping resource="gxc/domain/hbm/Reply.hbm.xml"/>
	</session-factory>
</hibernate-configuration>