@CHARSET "UTF-8";
#userhome_top_pic{
	width: 100%;
	height: 240px;
	display: none;
}
#userhome_top_pic img{
	width:inherit;
	height: inherit;
}

/* mian */
#userhome_main{
	height: 160px;
	background: white;
}
#userhome_main_head{
	float: left;
	height: 160px;
	width: 160px;
    border: 4px solid #fff;
    border-radius: 8px;
    
    position: relative;
    top: -25px;
    left: 25px; 
    display: none;  
}
#userhome_main_head img{
	width: inherit;
	height: inherit;
}
#userhome_main_middle{
	float: left;
	margin-left: 50px;
}
#main_info{
	margin-top: 15px;
	display: none;
}
#mian_span_username{
	display:block;
    font-size: 35px;
    font-weight: 900;
}
#mian_span_sign{
	display:block;
	margin-top: 12px;
	text-indent: 55px;
    font-size: 16px;
}

#main_detail_a a{
	display: block;
	float: left;
	font-size: 14px;
    color: #555;
    margin-top: 10px;
    margin-left: 10px;
}

#userhome_main_button{
	float: right;
}
#btn_detail{
	width: 115px;
    height: 34px;
    float: right;
    margin-top:98px;
    margin-right:40px;
    
	color: #0f88eb;
    border: 1px solid #0f88eb;
    border-radius:4px;  
    line-height: 34px;
    font-weight: 600;
    background: white;
}


/* Content */
#userhome_content{
	margin-top:5px;
	width:73%;
	background: white;
	float: left;
	height: 800px;
}

/* Menu */
#userhome_content_menu{
	border-bottom: 1px solid #ccc;
	height:43px;
	line-height: 40px;
}
#content_menu_ul{
	width: 78%;
	float: left;	
}
#menu_detail{
	width: 20%;
	float: right;
	height: 40px;
	line-height: 40px;
}
#menu_detail_span{
	font-size: 13px;
	line-height: 43px;
}
#content_menu_ul ul li{
	margin-left: 30px;
	/* background-color: pink; */
}
#content_menu_ul a{
	color: black;
	font-size: 15px;
}
#content_menu_ul a:HOVER{
	color: #555;
}
#content_menu_bottom{
	height:3px;
	width: 32px;
	background: #32a5e7;
	margin-left: 30px;
}

/* List  */
.userhome_content_list{
	font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
    display: none;
    border-bottom: 1px solid #ccc;
}
#list_left{
	width: 70%;
	float: left;
}
#list_right{
	width: 20%;
	float: right;
}
#list_detail{
	font-size: 13px;
	line-height: 80px;
	color: #999;
}
#list_detail span{
	padding-left: 5px;
}
#list_topic{
	padding-left: 30px;
	margin-bottom: 10px;
}
#list_topic span{
	display: block;
	font-size: 15px;
	color: #999;
	margin-top: 10px;
}
#list_topic a{
	display: block;
	margin-top: 10px;
	color: black;
}
#list_topic a:HOVER{
	color: #175199;
}

#userhome_content_right{
	float: right;
	width: 25%;
	height:300px;
	background: white;
	margin-top:5px;
}
