@CHARSET "UTF-8";
#sendTopic-wrap{
	width:385px;
	margin: 0 auto;
	border-radius:7px; 
	padding-top: 7px;
	padding-bottom: 20px;
	background: rgb(241,241,241);
	position:absolute;
	top:13%;
	left:40%;
	z-index:1002;
	border: 2px solid #ccc;
	display: none;
}
#sendTopic-top{
	height:50px;
	border-bottom: 2px solid #aaa;
	line-height: 44px;
	text-align: center;
}
#sendTopic-content{
	width:340px;
	margin: 20px auto 0px;
}
#topic-title{
	
}
#title{
	font-size:14px;
	width:284px;
	height:35px;
	line-height: 35px;
	padding-left: 56px;
	border: 1px solid #999;
	background-color: white;
	box-shadow: 0px -1px 2px #999;
	border: none;
	background-image: url("/myBlog/images/board/tilte_22x22.png");
	background-repeat: no-repeat;
	background-position: 12px 6px;
}
#title:FOCUS{
	background-image: url("/myBlog/images/board/title_red_22.png");
	background-repeat: no-repeat;
	background-position: 12px 6px;
}


#topic-content{
	
}
#topicContent{
	width:310px;
	height:120px;
	border: 1px solid #ccc;
	padding: 15px;
	font-size: 15px;
	box-shadow: 0px -1px 2px #999;
}

#btn-send{
	text-align:center;
	letter-spacing: 2px;
	width: 342px;
	height:32px;
	line-height: 32px;
	font-size: 15px;
	border: none;
	color: #fff;
    background-color: #28a745;
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
	font-weight: 700;
	margin-top: 14px;
}